# Лабораторная работа №1, Вариант 11
Цель работы: познакомиться с использованием библиотеки pandas при решении
практических задач, связанных с анализом данных. 
Для выполнения задания по анализу данных из файла student-mat.csv выполним следующие шаги:
1. Импорт библиотек

In [14]:
import pandas as pd
import numpy as np
from datetime import datetime

2. Загрузка данных

In [2]:
df = pd.read_csv('movie_dataset.csv')

3. Первые 10 строк

In [3]:
df.head(10)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
5,5,258000000,Fantasy Action Adventure,http://www.sonypictures.com/movies/spider-man3/,559,dual identity amnesia sandstorm love of one's ...,en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,...,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,Tobey Maguire Kirsten Dunst James Franco Thoma...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",Sam Raimi
6,6,260000000,Animation Family,http://disney.go.com/disneypictures/tangled/,38757,hostage magic horse fairy tale musical,en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,...,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330,Zachary Levi Mandy Moore Donna Murphy Ron Perl...,"[{'name': 'John Lasseter', 'gender': 2, 'depar...",Byron Howard
7,7,280000000,Action Adventure Science Fiction,http://marvel.com/movies/movie/193/avengers_ag...,99861,marvel comic sequel superhero based on comic b...,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,...,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767,Robert Downey Jr. Chris Hemsworth Mark Ruffalo...,"[{'name': 'Danny Elfman', 'gender': 2, 'depart...",Joss Whedon
8,8,250000000,Adventure Fantasy Family,http://harrypotter.warnerbros.com/harrypottera...,767,witch magic broom school of witchcraft wizardry,en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,...,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293,Daniel Radcliffe Rupert Grint Emma Watson Tom ...,"[{'name': 'Bruno Delbonnel', 'gender': 0, 'dep...",David Yates
9,9,250000000,Action Adventure Fantasy,http://www.batmanvsupermandawnofjustice.com/,209112,dc comics vigilante superhero based on comic b...,en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,...,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004,Ben Affleck Henry Cavill Gal Gadot Amy Adams J...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Zack Snyder

4. Размер данных

In [4]:
print(f"Строк: {df.shape[0]}, столбцов: {df.shape[1]}")

Строк: 4803, столбцов: 24

5. Сводная информация

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

6. Индекс данных

In [8]:
print(f"Индекс: {df.index}")

Индекс: RangeIndex(start=0, stop=4803, step=1)

7.  Сколько продюсеров упоминается в наборе данных?

In [9]:
directors = df['director'].dropna()
unique_directors = set()
for director_list in directors:
    if isinstance(director_list, str):
        # Разделяем по запятым, если несколько продюсеров
        for director in director_list.split(','):
            unique_directors.add(director.strip())

print(f"Количество уникальных продюсеров: {len(unique_directors)}")

Количество уникальных продюсеров: 2350

8. Создайте несколько датафреймов, каждый из которых содержит сведения о фильмах одного конкретного продюсера

In [11]:
top_directors = df['director'].value_counts().head().index

director_dfs = {}
for director in top_directors:
    if pd.notna(director):
        # Для простоты берем первого продюсера из списка, если их несколько
        mask = df['director'].str.contains(director.split(',')[0], na=False)
        director_dfs[director] = df[mask]
        print(f"Продюсер {director}: {len(director_dfs[director])} фильмов")

# Пример доступа к датафрейму конкретного продюсера
if top_directors[0] in director_dfs:
    print(f"\nПример - фильмы продюсера {top_directors[0]}:")
    display(director_dfs[top_directors[0]][['title', 'release_date', 'revenue']].head())

Продюсер Steven Spielberg: 27 фильмов
Продюсер Woody Allen: 21 фильмов
Продюсер Clint Eastwood: 20 фильмов
Продюсер Martin Scorsese: 20 фильмов
Продюсер Spike Lee: 16 фильмов

Пример - фильмы продюсера Steven Spielberg:

                                                 title release_date    revenue
53   Indiana Jones and the Kingdom of the Crystal S...   2008-05-21  786636033
175                                            The BFG   2016-06-01  183345589
185                                  War of the Worlds   2005-06-28  591739379
190                           The Adventures of Tintin   2011-10-25  371940071
275                                    Minority Report   2002-06-20  358372926

9. Каков средняя продолжительность фильма?

In [13]:
average_runtime = df['runtime'].mean()
print(f"Средняя продолжительность фильма: {average_runtime:.2f} минут")

Средняя продолжительность фильма: 106.88 минут

10. Какая студия (студии) сняли фильм, принесший максимальный доход?

In [15]:
max_revenue_movie = df.loc[df['revenue'].idxmax()]
print(f"Фильм с максимальным доходом: {max_revenue_movie['title']}")
print(f"Доход: ${max_revenue_movie['revenue']:,.2f}")
print(f"Производственные компании: {max_revenue_movie['production_companies']}")

Фильм с максимальным доходом: Avatar
Доход: $2,787,965,087.00
Производственные компании: [{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]

11. Выведите TOP-5 фильмов, имеющих максимальный успех

In [16]:
# Успех можно определить по разным критериям. Используем комбинацию revenue и popularity
df['success_score'] = df['revenue'] * df['popularity'] / 1000000  # Нормализуем

top5_success = df.nlargest(5, 'success_score')[['title', 'revenue', 'popularity', 'success_score']]
print("TOP-5 фильмов по успеху (revenue * popularity):")
display(top5_success)

TOP-5 фильмов по успеху (revenue * popularity):

              title     revenue  popularity  success_score
546         Minions  1156730962  875.581305   1.012812e+06
28   Jurassic World  1513528810  418.708552   6.337275e+05
95     Interstellar   675120017  724.247784   4.889542e+05
0            Avatar  2787965087  150.437577   4.194147e+05
788        Deadpool   783112979  514.569956   4.029664e+05

12. Определите, сколько фильмов имеют одинаковый набор жанров

In [22]:
genre_counts = df['genres'].value_counts()
print("Распределение фильмов по наборам жанров:")
print(f"Всего уникальных комбинаций жанров: {len(genre_counts)}")
print(f"\nТоп-10 самых распространенных комбинаций жанров:")
display(genre_counts.head(10))

Распределение фильмов по наборам жанров:
Всего уникальных комбинаций жанров: 1168

Топ-10 самых распространенных комбинаций жанров:

genres
Drama                   370
Comedy                  282
Drama Romance           164
Comedy Romance          144
Comedy Drama            142
Comedy Drama Romance    109
Horror Thriller          88
Documentary              68
Horror                   64
Drama Thriller           62
Name: count, dtype: int64

13. Какой слоган у самого популярного и самого непопулярного фильма

In [23]:
most_popular = df.loc[df['popularity'].idxmax()]
least_popular = df.loc[df['popularity'].idxmin()]

print("Самый популярный фильм:")
print(f"Название: {most_popular['title']}")
print(f"Популярность: {most_popular['popularity']:.2f}")
print(f"Слоган: {most_popular['tagline'] if pd.notna(most_popular['tagline']) else 'Отсутствует'}")

print("\nСамый непопулярный фильм:")
print(f"Название: {least_popular['title']}")
print(f"Популярность: {least_popular['popularity']:.2f}")
print(f"Слоган: {least_popular['tagline'] if pd.notna(least_popular['tagline']) else 'Отсутствует'}")

Самый популярный фильм:
Название: Minions
Популярность: 875.58
Слоган: Before Gru, they had a history of bad bosses

Самый непопулярный фильм:
Название: America Is Still the Place
Популярность: 0.00
Слоган: Отсутствует

14. Определите 5 самых новых и 5 самых старых фильмов в рейтинге

In [24]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

newest_movies = df.nlargest(5, 'release_date')[['title', 'release_date', 'vote_average']]
oldest_movies = df.nsmallest(5, 'release_date')[['title', 'release_date', 'vote_average']]

print("5 самых новых фильмов:")
display(newest_movies)
print("\n5 самых старых фильмов:")
display(oldest_movies)

5 самых новых фильмов:

                      title release_date  vote_average
4255       Growing Up Smith   2017-02-03           7.4
3408  Two Lovers and a Bear   2016-10-02           6.8
3302             Mr. Church   2016-09-16           7.0
3249                  Kicks   2016-09-09           7.5
4720  The Birth of a Nation   2016-09-09           6.5

5 самых старых фильмов:

                    title release_date  vote_average
4592          Intolerance   1916-09-04           7.4
4661       The Big Parade   1925-11-05           7.0
2638           Metropolis   1927-01-10           8.0
4457        Pandora's Box   1929-01-30           7.6
4594  The Broadway Melody   1929-02-08           5.0

15.  Есть ли связь между бюджетом фильма и популярностью?

In [25]:
correlation = df['budget'].corr(df['popularity'])
print(f"Корреляция между бюджетом и популярностью: {correlation:.3f}")

Корреляция между бюджетом и популярностью: 0.505