Лабораторная работа №1, Вариант 2
Цель работы: познакомиться с использованием библиотеки pandas при решении
практических задач, связанных с анализом данных. 
Для выполнения задания по анализу данных из файла student-mat.csv выполним следующие шаги:
1. Импорт библиотек

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

2. Загрузка данных

In [7]:
df = pd.read_csv('student-mat.csv', sep=',')

3. Первые 16 строк

In [8]:
df.head(16)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14

4. Размер данных

In [12]:
print(f"Строк: {df.shape[0]}, столбцов: {df.shape[1]}")

Строк: 395, столбцов: 33

5. Сводная информация

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

6. Индекс данных

In [11]:
print(f"Индекс: {df.index}")

Индекс: RangeIndex(start=0, stop=395, step=1)

7. Новый датафрейм без семейных столбцов

In [14]:
family_columns = ['famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'famrel']
df_filtered = df.drop(columns=family_columns)
print(df_filtered)

    school sex  age address  reason guardian  traveltime  studytime  failures  \
0       GP   F   18       U  course   mother           2          2         0
1       GP   F   17       U  course   father           1          2         0
2       GP   F   15       U   other   mother           1          2         3
3       GP   F   15       U    home   mother           1          3         0
4       GP   F   16       U    home   father           1          2         0
..     ...  ..  ...     ...     ...      ...         ...        ...       ...
390     MS   M   20       U  course    other           1          2         2
391     MS   M   17       U  course   mother           2          1         0
392     MS   M   21       R  course    other           1          1         3
393     MS   M   18       R  course   mother           3          1         0
394     MS   M   19       U  course   father           1          1         0

    schoolsup  ... romantic freetime goout Dalc Walc health absences  G1  G2  \
0         yes  ...       no        3     4    1    1      3        6   5   6
1          no  ...       no        3     3    1    1      3        4   5   5
2         yes  ...       no        3     2    2    3      3       10   7   8
3          no  ...      yes        2     2    1    1      5        2  15  14
4          no  ...       no        3     2    1    2      5        4   6  10
..        ...  ...      ...      ...   ...  ...  ...    ...      ...  ..  ..
390        no  ...       no        5     4    4    5      4       11   9   9
391        no  ...       no        4     5    3    4      2        3  14  16
392        no  ...       no        5     3    3    3      3        3  10   8
393        no  ...       no        4     1    3    4      5        0  11  12
394        no  ...       no        2     3    3    3      5        5   8   9

     G3
0     6
1     6
2    10
3    15
4    10
..   ..
390   9
391  16
392   7
393  10
394   9

[395 rows x 26 columns]

8. Наихудшая успеваемость по школам

In [27]:
worst_students = df.groupby('school', group_keys=False).apply(
    lambda x: x.nsmallest(15, 'G3'), include_groups=False
).reset_index(drop=True)

worst_stats = worst_students[['health', 'Dalc', 'Walc']].mean()
print("Средние показатели для наихудших студентов:")
print(worst_stats)

Средние показатели для наихудших студентов:
health    3.966667
Dalc      1.566667
Walc      2.133333
dtype: float64

9. Наилучшая успеваемость

In [29]:
best_students = df.groupby('school').apply(
    lambda x: x.nlargest(15, 'G3'), include_groups=False
).reset_index(drop=True)

best_stats = best_students[['health', 'Dalc', 'Walc']].mean()
print("Средние показатели для лучших студентов:")
print(best_stats)

Средние показатели для лучших студентов:
health    3.033333
Dalc      1.400000
Walc      2.133333
dtype: float64

10. Нелегальное употребление алкоголя

In [17]:
underage_drinkers = df[df['age'] < 17]
print(f"Найдено несовершеннолетних употребляющих: {underage_drinkers.shape[0]}")

Найдено несовершеннолетних употребляющих: 186

11. Статистика по школам и полу

In [18]:
school_stats = underage_drinkers.groupby('school')['sex'].value_counts()
print(school_stats)

school  sex
GP      M      94
        F      92
Name: count, dtype: int64

12. Школа с наименьшим процентом злоупотребляющих

In [19]:
alcohol_abuse = df[(df['Dalc'] >= 4) | (df['Walc'] >= 4)]
school_percentage = alcohol_abuse['school'].value_counts(normalize=True) * 100
min_school = school_percentage.idxmin()
print(f"Школа с наименьшим процентом злоупотребляющих: {min_school}")

Школа с наименьшим процентом злоупотребляющих: MS

13. Связь свободного времени и алкоголя

In [20]:
correlation = df[['freetime', 'goout', 'Dalc', 'Walc']].corr()
print("Корреляция между свободным временем, встречами и алкоголем:")
print(correlation)

Корреляция между свободным временем, встречами и алкоголем:
          freetime     goout      Dalc      Walc
freetime  1.000000  0.285019  0.209001  0.147822
goout     0.285019  1.000000  0.266994  0.420386
Dalc      0.209001  0.266994  1.000000  0.647544
Walc      0.147822  0.420386  0.647544  1.000000

14. Связь свободного времени и встреч с друзьями

In [21]:
ft_goout_corr = df['freetime'].corr(df['goout'])
print(f"Корреляция между свободным временем и встречами: {ft_goout_corr:.2f}")

Корреляция между свободным временем и встречами: 0.29

15. Статистика по Mjob

In [22]:
mjob_stats = df['Mjob'].describe()
print(mjob_stats)

count       395
unique        5
top       other
freq        141
Name: Mjob, dtype: object